/*!
 * Start Bootstrap -  v ()
 * Copyright 2013-2016 
 */
.house-heading {
  margin-bottom: 0;
}
.house-subheading {
  margin-top: 0;
}
.house-details i {
  color: #0750b6 !important;
}
.theme-color {
  color: #0750b6 !important;
}
