@import "variables.less";

.house-heading {
    margin-bottom: 0;
}

.house-subheading {
    margin-top: 0;
}

.house-details i {
    color: @theme-primary !important;
    h4 {
        font-size: 1.5rem;
    }
}

.theme-color {
    color: @theme-primary !important;
}